.cards-uniforms-dairy-male {
  /**/
}
#card-dairy-male {
  width: 300;
  height: 250;
  margin: 0 auto;
}

#img_shirt {
  width: 50%;
  margin: 0 auto;
}

#img_pants {
  width: 50%;
  margin: 0 auto;
  margin-top: 10px;
}

#img_list_uniforms {
  width: 50%;
  margin: 0 auto;
}

#img_find_college {
  width: 50%;
  margin: 0 auto;
}

#btn-details {
  background-color: #ffc53d;
  border-color: #d48806;
  color: black;
}

#btn-details:hover {
  background-color: #d48806;
  border-color: #ffc53d;
  color: black;
}
