.cards-uniforms-dairy-male {
  /**/
}
#card-dairy-male {
  width: 300;
  height: 250;
  margin: 0 auto;
}

#img_shirt {
  width: 50%;
  margin: 0 auto;
}

#img_pants {
  width: 50%;
  margin: 0 auto;
  margin-top: 10px;
}

#img_list_uniforms {
  width: 50%;
  margin: 0 auto;
}

#img_find_college {
  width: 50%;
  margin: 0 auto;
}
