#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}

#btn-edit {
  background-color: #73d13d;
  border-color: #237804;
  margin: 0 auto;
  display: block;
  margin-top: 2%;
  width: 80%;
  max-width: 100%;
}

#btn-delete {
  background-color: #ff4d4f;
  border-color: #a8071a;
  color: #fff;
  margin: 0 auto;
  display: block;
  margin-top: 2%;
  width: 30%;
  max-width: 100%;
}

#btn-submit {
  background-color: #ffc53d;
  border-color: #d48806;
  color: #fff;
  margin: 0 auto;
  display: block;
  margin-top: 2%;
  width: 80%;
  max-width: 100%;
}

#btn-form {
  background-color: #40a9ff;
  border-color: #096dd9;
  color: #fff;
  margin: 0 auto;
  display: block;
  margin-top: 2%;
  width: 80%;
  max-width: 100%;
}
#btn-form:hover {
  background-color: #fff;
  color: #096dd9;
}

#btn-edit:hover {
  background-color: #fff;
  color: #237804;
}

#btn-delete:hover {
  background-color: #fff;
  color: #a8071a;
}

#btn-submit:hover {
  background-color: #fff;
  color: #ffc53d;
}

#components-layout-demo-fixed-sider .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
.site-layout .site-layout-background {
  background: #fff;
}

#btn-submit-icon {
  background-color: #ffc53d;
  border-color: #d48806;
  color: #fff;
  display: block;
  margin-right: 2%;
}

#btn-form-icon {
  background-color: #40a9ff;
  border-color: #096dd9;
  color: #fff;
  display: block;
}

#btn-delete-icon {
  background-color: #ff4d4f;
  border-color: #a8071a;
  color: #fff;
  display: block;
}

#btn-submit-icon:hover {
  background-color: #ffc53d;
  color: #fff;
}

#btn-form-icon:hover {
  background-color: #40a9ff;

  color: #fff;
}

#btn-delete-icon:hover {
  background-color: #ff4d4f;

  color: #fff;
}

#btn-form-icon-link {
  color : #40a9ff
}

#btn-delete-icon-link {
  color : #ff4d4f
}

#btn-form-icon-link:hover {
  color : #1890ff
}

#btn-delete-icon-link:hover {
  color : #f5222d
}

